<<<<<<< HEAD
#display-content {
    margin-right: auto;
    margin-left: auto;
}
body {
    color: white;
}
#searchedTitle {
    text-align: center;
=======
#display-content {
    margin-right: auto;
    margin-left: auto;
}
body {
    color: white;
}
#searchedTitle {
    text-align: center;
>>>>>>> 2986ba2144fc243f6b5ee5b0d5a2ea90378992f7
}