.picImage{
    border-radius: 75px;
    background-color:transparent;
}
.card-image{
    box-shadow: 0px 1px 35px 0 rgb(177, 0, 0);
}

.picImage:hover{
    scale: 1.005;
}
.search-button-text{
font-size:28px;
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
color: rgba(255, 255, 255, 0.966);
}


/* #logo {
    width: 100px;
    height: 100px;
} */

.search-button {
    margin-bottom: 60px;
    max-width: 70%;
}

.catTitle {
    font-size: 18px;
    color: #000000;
}

.search-container {
    text-align: center;
}

.modal {
     max-height: 100%; 
     overflow: visible;
     text-align: center;
     max-width: 100%;
     background-color:rgba(177, 78, 78, 0.89);
}

.modal * {
    color: #000000;
}


.navigation-bar {
    margin-bottom: 30px;
}

#search-button1, #search-button2 {
    margin-bottom: 3em;
    background-color: #d30000;
}

#search-button1:hover, #search-button2:hover {
    background-color: #d30000;
}

.card-image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-top-right-radius: 4%;
    border-top-left-radius: 4%;
}

.card-image img { 
    z-index: 0;
}

.card-content {
    text-align: center;
}

.cc0, .cc1, .cc2, .cc3, .cc4 {
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    background-color:#ffffff;
}

#url0, #url1, #url2, #url3, #url4 {
    background-color: #af0202;
    margin-top: 20em;
}

#title-content0, #title-content1, #title-content2, #title-content3, #title-content4 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-shadow: 2px 2px 1px #000000, 2px 2px 1px #cc7200;
} 

.input-field select option {
    color: #b90000;
}

.carousel {
    height:600px;
}

.tab {
    background-color:#000000;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.tab:hover {
    text-shadow: 2px 2px 4px black;
}

.opacity-searchbtn{
opacity: 0.8;
}

.opacity-card{
    opacity: 0.9;
}

.weather-header img {
    float: left;
}
.weather-header h3 {
    position: relative;
}

#time {
    color:white;
    font-size: 18px;
    padding-right: 1%;
}

.footer-copyright p {
    padding-left: 1%;
}

.weather-desc {
    color: #000000;
}

.weather-info p {
    font-size: 18px;
}

#weather-button {
    color: #000000;
    border-radius: 15px;
    margin: 10px;
}

#weather-display {
    display: none;
}

#entered-city {
    border: 0.5px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgb(59, 51, 51);
    padding-left: 10px;
    background-color: #e7ddcd;
}

#entered-city::placeholder {
    color: black;
}

.card-panel {
    padding: 24px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #8bb7ca;
    border: 0.5px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgb(59 51 51);
}

.a-social-icons {
    position: fixed;
    top: 30%;
    right: 0px;
    transform: translateX(-50%);
    z-index: 10;
}
.a-social-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffe9c5;
    border: 1px solid #303030;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    color: #000000;
}
.a-social-icons a:hover {
    background-color: #252525;
    color: #f6f5f5;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

#coin {
    color: black;
    display:block;
    margin: -20px 0 10px 10px;
    padding: 0%;
    text-shadow: 1px 1px 1px gold;
}

.c1, .c2 {
    background-color: #fff8ce;
    border: 1px solid gold;
    box-shadow: 2px 2px 4px grey;
    width: 90%;
}

#currency-amount1::placeholder, #currency-amount2::placeholder {
    color: #000000;
}


/* @media only screen and (max-width: 900px) {

  } */